html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` css inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` css inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to css clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor css between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #151616;
}

.section-text {
    color: #FFF;
    font-size: 14px;
    line-height: 17px;
    padding: 0 15px 0 30px;
}

.section-title {
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    padding-left: 50px;
    text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
    .section-title {
        padding-left: 30px;
        margin-top: 35px;
    }
    .basic-container .section-title {
        padding-left: 0;
    }
}

.basic-container {
    margin: 0 auto;
    padding: 0 20px;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

.contacts-container {
    padding-top: 10px;
    padding-bottom: 90px;
}

@media (min-width: 1024px) {
    .basic-container {
        max-width: 1100px;
        margin: 0 auto;
    }

    .main-image-container {
        max-width: 1100px;
        margin: 0 auto;
    }

    .section-text {
        font-size: 25px;
        line-height: 30px;
        padding: 0 50px 0 10px;
    }

    .main-image-wrapper + .section-text {
        padding-left: 55px;
    }

    .section-title {
        font-size: 45px;
        padding-left: 10px;
    }
}

.danit-first-section {
    padding-bottom: 92px;
}

.section-subtitle {
    padding-left: 50px;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 22px;
}

.programs {
    color: #fff;
}

.programs-card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.programs-card {
    margin-right: 6%;
    z-index: 1;
    position: relative;
    margin-bottom: 35px;
    width: 311px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.programs-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(135, 161, 214, 0.75) 1.56%, rgba(30, 205, 170, 0.8) 100%, rgba(134, 157, 211, 0.75) 100%);
}

.programs-info-header {
    padding-left: 37px;
    padding-right: 40px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.programs-info-description {
    font-size: 14px;
    margin-bottom: 28px;
    padding-left: 37px;
}


@media (min-width: 702px) {
    .programs-card-wrap {
        justify-content: space-between;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .programs-card-wrap {
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .section-subtitle {
        padding-left: 10px;
        font-size: 25px;
        line-height: 30px;
        padding-bottom: 51px;
    }

    .programs-card-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        padding-left: 10px;
    }

    .programs-card {
        width: 290px;
        height: 396px;
    }

    .programs-card:nth-of-type(3n) {
        margin-right: 0;
    }

    .programs-info-description {
        padding: 0 18px;
        padding-left: 37px;
    }
}

.title-image-section{
    padding-bottom: 40px;
}
@media (min-width: 1024px) {
    .title-image-section{
        padding-bottom: 57px;
    }
}


.business-details-item.cols2 {
    width: 50%;
}

.business-details-item.cols3 {
    width: 50%;
}

.real-estate-description {
    align-self: flex-start;
    padding: 40px 0;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.real-estate-description ul {
    list-style: disc inside;
}

@media screen and (min-width: 1024px) {
    .real-estate-description {
        font-size: 22px;
        line-height: 27px;
    }

    .business-details-item.cols3 {
        width: 33%;
    }
}

.gym-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gym-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.gym-text {
    max-width: 280px;
    padding-top: 15px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}

.gym-image {
    width: 280px;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #ED1260;;
}

@media screen and (min-width: 1024px) {
    .gym-text {
        font-size: 25px;
        line-height: 30px;
    }

    .gym-item {
        width: 50%;
    }

}

.transparent {
    opacity: 0.6;
}

.header-container {
    margin: 0 auto;
    padding: 0 20px;
}

.logo-link {
    display: block;
}

.background-title-page {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 2;
}

.background-title-page-appear {
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*side navbar styles*/
.navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 1px;
    background-color: #151616;
    overflow-x: hidden;
    transition: 0.5s;
}

.opened-navbar {
    width: 70%;
}

.btn-close {
    color: #F38A03;
    font-size: 38px;
    position: absolute;
    top: 15px;
    right: 18px;
}

.dropdown {
    display: none;
}

.dropdown-item-link {
    color: #F38A03;
    padding: 10px;
    display: block;
    text-align: left;
}

.menu-items {
    padding: 55px 0 0 40px;
}

.menu-item {
    padding: 10px 0;
}

.menu-link {
    color: #F38A03;
    font-weight: 500;
    font-size: 20px;
}

.navbar__lang-list {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    background: #151616;
    border: none;
    -webkit-appearance: none;
    width: 45px;
}

.custom-select{
    position: relative;
}

.custom-select::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 4px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #F38A03;
    border-right: 2px solid #F38A03;
    cursor: pointer;
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -o-transform:rotate(135deg);
}

.navbar__lang-list > option {
    color: #fff;
    font-size: 15px !important;
}

.fsz_change{
    font-size: 5px !important;
}

.dropdown-active {
    display: block;
}

.dropdown-active {
    display: block;
}
/*side navbar styles*/

.logo {
    background-repeat: no-repeat;
    background-size: cover;
    width: 75px;
    height: 51px;
}

.icon-container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 15px;
}

.swiper-pagination-current:before{
    content: "0"
  }
  
.swiper-pagination-total:before{
    content: "0"
}

@media (max-width: 1023px) { /* Строка изменена */
    
    .navbar__lang-list {
        /* padding: 10px 0 0 38px; Строка изменена */
        color: #F38A03;
        font-family: Montserrat, sans-serif;
    }    

    /* check */

}

@media (min-width: 480px) {
    .opened-navbar {
        width: 60%;
    }
}

@media (min-width: 768px) {
    .opened-navbar {
        width: 40%;
    }
}

@media (min-width: 1024px) {

    .custom-select::after{
        border-color: white;
    }

    .header-container {
        padding: 0 40px;
    }

    .header-clear-padding {
        padding-left: 15px;
    }

    .logo {
        width: 90px;
        height: 60px;
    }

    .icon-container {
        display: none;
    }

    .btn-close {
        display: none;
    }

    .navbar {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 55%;
    }

    .menu-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 16px;
        padding: 0;
    }

    .menu-items {
        padding: 0;
    }

    .menu-link {
        color: #fff;
        font-weight: 500;
        font-size: 20px;
    }

    /*!** Custom Select **!*/

    .custom-select-trigger {
        padding-left: 50px;
        color: #fff;
    }
    .custom-select-trigger:after {
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
    }

    .custom-options {
        left: 0;
    }
    /*!** Custom Select **!*/


    .navbar {
        overflow-x: unset;
    }

    .dropdown {
        display: none;
        position: absolute;
        top: 50px;
        left: -70%;
        background-color: #151616;
        box-shadow: 0 0 5px 3px rgba(0,0,0,1);
        z-index: 1;
    }

    .menu-item-dropdown {
        position: relative;
    }

    .dropdown-item-link {
        color: #F38A03;
        padding: 15px 30px;
        display: block;
        text-align: left;
    }

    .dropdown-item-link:hover {
        background-color: #2f2f2f;
    }

    .dropdown-active {
        display: block;
    }
}

.main-image-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 7px;
    margin-bottom: 50px;
}

.main-image {
    width: 100%;
    height: 490px;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-image-wrapper::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -49px;
    background-color: #F38A03;
    width: 70%;
    height: 49px;
}

.main-subtitle {
    position: absolute;
    left: 20px;
    top: 58px;
    width: 250px;
    padding: 15px 0 15px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    background: linear-gradient(180deg, #242323 0%, rgba(36, 35, 35, 0.2) 100%);
    border: 5px solid #F38A03;
}

@media (min-width: 1024px) {
    .main-image-wrapper {
        margin-top: 15px;
        justify-content: flex-end;
        margin-bottom: 15px;
    }

    .main-image {
        width: 85%;
        height: 615px;
        background-size: cover;
    }

    .main-image-wrapper::after {
        width: 10%;
        height: 520px;
        position: static;
    }

    .main-subtitle {
        width: 400px;
        font-size: 45px;
        line-height: 55px;
        left: 20px;
        top: 170px;
    }
}

/*title image other pages*/

.main-image-wrapper.violet::after {
    background-color: #4C4184;
}

.main-image-wrapper.blue::after {
    background-color: #1ECDAA;
}

.main-image-wrapper.pink::after {
    background-color: #ED1260;
}

.main-image-wrapper {
    margin-bottom: 86px;
}

.main-image-black {
    display: flex;
    padding: 30px 20px;
}

.main-image-black.centered {
    align-items: center;
}

.main-title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.main-title p {
    background-color: black;
    min-width: 257px;
    padding: 41px 31px;
    font-size: 25px;
    line-height: 28px;
}

.main-title.main-title-smaller p {
    font-size: 22px;
}

.estate-main-title.main-title {
    padding: 42px 48px;
    width: 269px;
    height: 116px;
}

.main-link {
    display: inline-block;
    margin-top: 10px;
    width: 131px;
    height: 36px;
    padding: 7px 32px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    background-color: black;
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .main-image-wrapper {
        margin-bottom: 20px;
    }

    .main-image-black {
        align-items: center;
        padding-left: 50px;
    }

    .main-title p {
        min-width: 327px;
        min-height: 141px;
        padding: 52px 92px;
        font-size: 32px;
        line-height: 39px;
    }

    .main-title.main-title-smaller p {
        font-size: 28px;
        padding: 50px 26px;
    }

    .estate-main-title.main-title {
        width: 327px;
        height: 141px;
    }

    .main-link {
        bottom: -73%;
        left: 20%;
        padding: 14px 55px;
        width: 200px;
        height: 55px;
        font-size: 22px;
        line-height: 27px;
    }

}


.business-main-container {
    max-width: 1024px;
    padding: 0 10px;
    margin: 60px auto;
    background-color: #151616;
}

@media screen and (max-width: 1023px) {
    .business-main-container {
        margin: 0 auto;
    }
}



.business-chevron-descktop {
    position: absolute;
    right: -115px;
    top: 188px;
    width: 140px;
    height: 140px;
    background-color: #F38A01;
    display: none;
}
.business-chevron-descktop.big {
    height: 275px;
    top: 15px;
}

.business-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto
}

.business-title {
    padding: 40px 20px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    width: 100%;
    font-size: 18px;
}


@media screen and (max-width: 1023px) {
    .business-title {
        padding: 20px;
    }
}



.business-image-wrapper {
    position: relative;
    width: 100%;
    max-height: 500px;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    background-size: cover !important;
    z-index: 1;
}

.business-image-wrapper:before {
    content: '';
    display: block;
    padding-bottom: 80%;
}

.business-chevron {
    background-color: #F38A01;
    position: absolute;
    left: 1px;
    top: -5%;
    width: 100px;
    height: 95%;
    z-index: 0;
}

.business-chevron-right {
    background-color: #F38A01;
    position: absolute;
    right: 1px;
    bottom: -5%;
    width: 100px;
    height: 95%;
    z-index: -1;
}

.business-chevron-center-left {
    background-color: #F38A01;
    position: absolute;
    left: 3px;
    top: 3%;
    width: 100px;
    height: 75%;
    z-index: -1;
}

.business-chevron-center-right {
    background-color: #F38A01;
    position: absolute;
    right: 1px;
    top: 3%;
    width: 100px;
    height: 75%;
    z-index: -1;
}

.business-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px 0 20px;
    font-size: 14px;
}

.extra-padding {
    padding: 0 15px;
}

.business-details-marketing {
    justify-content: flex-start;
    padding: 10px 15px 0 15px;
}

.business-details-item {
    margin: 10px 0;
    width: 24%;
}

.details-item-margin {
    margin-left: 0;
}

.business-details-item-title {
    font-weight: 600;
    font-size: 20px;
    color: #F38A03;
}

.business-details-item-description {
    padding: 10px 10px 10px 0;
    line-height: 21px;
    color: #fff;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
}

.business-option-wrapper {
    margin: 20px 0;
    padding: 25px 10px;
    width: 90%;
    background-color: #F38A03;
}

.business-option-description {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 19px;
}

.business-option-description.immovables {
    padding-left: 20px;
}

.business-option-button {
    display: block;
    margin: 20px auto 0;
    border: none;
    text-align: center;
    background-color: #000;
}

.business-option-button-link {
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
}

.business-option-button-link:hover {
    color: #F38A01;
}

.slide-counter {
    display: none;
    position: absolute;
    top: 80px;
    left: -27px;
    width: 204px;
    height: 60px;
    background-color: #000;
    z-index: 1;
}

@media screen and (max-width: 480px) {
    .business-details-item {
        width: 50%;
    }

    .business-details-item-description {
        word-break: break-word;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .business-details-item-title {
        font-size: 20px;
    }

    .business-details-item-description {
        font-size: 16px;
        line-height: 17px;
    }

    .business-option-wrapper {
        width: 60%;
    }

    .business-details-item {
        width: 48%;
    }

    .business-container-margin {
        margin-top: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .business-details-item-title {
        font-size: 30px;
    }

    .business-details-item-description {
        font-size: 22px;
    }

    .business-option-wrapper {
        width: 40%;
    }

    .business-details-item {
        width: 50%;
    }

    .business-container-margin {
        margin-top: 100px;
    }
}

@media screen and (min-width: 1024px) {

    .business-chevron {
        display: none
    }

    .business-chevron-right {
        display: none
    }

    .business-chevron-center-left {
        display: none
    }

    .business-chevron-center-right {
        display: none
    }

    .business-chevron-descktop {
        display: block;
    }

    .business-chevron-right {
        left: unset;
        right: -113px;
        top: 30%;
        width: 130px;
        height: 30%;
    }

    .business-container {
        width: 75%;
    }

    .extra-padding {
        padding: 0 85px;
    }

    .business-container-margin {
        margin-top: 200px;
    }

    .business-details-marketing {
        justify-content: unset;
    }


    .details-item-margin {
        margin-left: 30%;
    }

    .business-details-item-title {
        font-size: 25px;
    }

    .business-details-item-description {
        line-height: 28px;
        font-size: 20px;
    }

    .business-details-item {
        width: 30%;
    }

    .description-wrapper {
        flex-direction: row;
    }

    .description-item-text {
        margin-left: 20px;
    }

    .business-title {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 141px;
        top: 60px;
        right: -115px;
        width: 327px;
        background-color: #000;
        z-index: 2;
        font-size: 24px;
        line-height: 1.2;
    }

    .business-title-margin {
        margin-bottom: 30px;
    }

    .contacts-text {
        font-size: 25px;
        line-height: 30px;
        display: block;
    }

    .business-option-wrapper {
        top: 120px;
        right: 610px;
        position: absolute;
        width: 35%;
        z-index: 1;
    }

    .business-option-wrapper.immovables {
        top: 11.5%;
        max-height: 39%;
    }

    .business-option-button {
        position: absolute;
        right: -700px;
        top: 80px;
    }

    .business-option-button-link {
        font-size: 22px;
        padding: 20px 40px;
    }

    .slide-counter {
        display: block;
        z-index: 5;
    }

    .slider-white-arrow {
        width: 17px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

/* swiper */
.swiper-main-button {
    font-size: 25px;
    outline: none;
    cursor: pointer;
}

.swiper-pagination {
    position: unset;
    font-size: 22px;
}

.swiper-container-education,
.swiper-container-sport,
.swiper-container-marketing,
.swiper-container-business,
.swiper-container-office1,
.swiper-container-Bel1,
.swiper-container-Bel3,
.swiper-container-Bel4,
.swiper-container-BelInterior1,
.swiper-container-Bel2,
.swiper-container-BelInterior3,
.swiper-container-BelInterior2 {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-slide-business {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.slide-counter-wrap {
    position: relative;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #fff;
}

.team-section-wrapper {
    margin: 90px 0;
}

.team-section-wrapper .section-title,
.team-section-wrapper .section-text {
    text-align: center;
}

.text-margin {
    margin-top: 10px;
}

.team-container {
    display: none;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin: 60px 0;
    position: relative;
}

.person-picture {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 60%;
    height: 280px;
}

.person-details {
    width: 80%;
    margin: 0 auto;
    border: 5px solid #F38A03;
    text-align: center;
    color: #fff;
}

.person-name {
    color: #F38A03;
    font-size: 18px;
}

.person-item {
    padding: 5px 0;
}

.swiper-button-next,
.swiper-button-prev {
    top: 37%;
    color: transparent;
}

.arrow {
    position: absolute;
    top: 38%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 10px;
}

.arrow-left {
    left: 8%;
}

.arrow-right {
    right: 8%;
}

@media (min-width: 480px) {
    .person-picture {
        width: 50%;
        height: 320px;
    }

    .person-details {
        width: 65%;
    }
}

@media (min-width: 768px) {
    .person-picture {
        width: 50%;
        height: 500px;
    }

    .person-details {
        width: 60%;
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 60px;
    }

    .arrow-right {
        right: 8%;
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 60px;
    }

    .arrow-left {
        left: 8%;
    }

    .person-item {
        padding: 8px 0;
    }
}


@media (min-width: 1024px) {
    .swiper-container {
        display: none;
    }

    .team-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .person-wrapper {
        width: 35%;
        margin: 60px;
    }

    .person-picture {
        width: 90%;
        height: 375px;
    }

    .person-details {
        width: 100%;
    }

    .person-dept {
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
    }

    .person-name {
        font-size: 25px;
    }

    .person-position {
        font-size: 18px;
    }

    .team-section-wrapper .section-title,
    .team-section-wrapper .section-text {
        text-align: left;
    }
}


@media (min-width: 1024px) {
    .icon-section {
        margin: 0 auto;
        max-width: 915px;
        max-height: 325px;
    }
}

.icon-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px 0;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 41px;
    padding-bottom: 70px;
    width: 100%;
    text-align: center;
}

.icon-img {
    background-size: cover;
    width: 55px;
    height: 55px;
}

.icon-info {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding-top: 20px;
    width: 80%;
}


@media (min-width: 640px) {
    .icon-item {
        width: 41%;
    }
}
@media (min-width: 1024px) {
    .icon-wrapper {
        justify-content: flex-start;
    }

    .icon-item {
        width: 33%;
    }
    .icon-info {
        font-size: 18px;
        line-height: 22px;
        padding-top: 25px;
        max-width: none;
        width: auto;
    }
}

.footer {
    border: #F38A03 5px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .flex-item {
    align-items: center;
}

.contact-title {
    padding: 25px 0;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

.flex-item {
    display: flex;
    padding-bottom: 15px;
}

.footer-img {
    height: 45px;
    width: 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.contacts-text {
    color: #fff;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 20px;
}

.text-interval {
    padding-bottom: 5px;
}

.footer-img-description {
    display: none;
}

@media (min-width: 1024px) {
    .footer {
        border: none;
        padding: 34px 0 38px;
    }

    .flex-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 70px 0;
        margin-top: 0;
    }

    .flex-item {
        flex-direction: column;
        align-items: center;
    }

    .title-center-align {
        text-align: left;
        padding-top: 0;
    }

    .footer-img-description {
        display: block;
        margin-bottom: 20px;
    }

    .footer-img {
        width: 35px;
    }

    .contact-title {
        padding: 0;
        align-self: flex-start;
        margin-left: 100px;
    }

    .contacts-text {
        padding-top: 5px;
        font-size: 22px;
    }
}

.background-gradient {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.92) 0%, rgba(12, 12, 12, 0.598) 100%);
}

.background-contacts {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}


.contacts-items {
    display: flex;
    width: 228px;
    margin: 0 auto;
}

.contacts-text-padding {
    padding-top: 5px;
    padding-right: 5px;
}

.contacts-email {
    padding-top: 60px;
}

.contacts-images {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    padding-left: 45px;
}

.country-text {
    font-size: 18px;
    color: #fff;
    padding: 27px 50px 17px;
}

.social-text {
    text-align: center;
}

.social-apps {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.maps {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    width: 85%;
    height: 151px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .maps {
        width: 85%;
        height: 364px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .maps {
        width: 100%;
        height: 300px;
    }



}

@media screen and (min-width: 1024px) {
    .basic-container {
        max-width: 1100px;
        margin: 0 auto;
    }
    .country-text {
        font-size: 25px;
    }

    .flex-container-contacts {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
    }

    .flex-container-adress {
        display: flex;
        flex-direction: column;
    }

    .section-title {
        padding-left: 10px;
    }

    .contacts-items {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .maps {
        width: 480px;
        height: 227px;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        width: 250px;
    }
}
.map-section {
    display: flex;
    justify-content: center;
}

.map-wrapper {
    padding: 15px 15px 11px 15px;
    margin-bottom: 30px;
    width: 92%;
    height: 40vh;
    min-width: 248px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #F38A03;
}

.map-wrapper.energym-map-wrap {
    border: 5px solid #ED1260;
    margin-bottom: 63px;
}

.marketing-map-wrap {
    border: 5px solid;
    border-image-source: linear-gradient(45deg, #E34A7B, #4C4184);
    border-image-slice: 1;
    margin-bottom: 54px;
}

.danit-map-wrap {
    border: 5px solid;
    border-image-source: linear-gradient(45deg, #5046C7, #1ECDAA);
    border-image-slice: 1;
    margin-bottom: 30px;
    margin-top: 30px;
}

.map {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.marketing-map {
    min-width: 248px;
    min-height: 160px;
}

.danit-map {
    width: 287px;
    height: 208px;
}

.map-description {
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
    padding-top: 7px;
}

@media (min-width: 640px) {
    .marketing-map {
        width: 551px;
        height: 281px;
    }
    .map-description {
        padding-top: 12px;
        font-size: 22px;
        line-height: 27px;
    }
}

@media (min-width: 1024px) {
    .map-wrapper {
        padding: 27px 27px 11px 27px;
        min-width: 579px;
        max-width: 736px;
        min-height: 296px;
        height: 482px;
    }

    .map-wrapper.energym-map-wrap {
        margin-bottom: 126px;
    }

    .marketing-map-wrap {
        margin-bottom: 71px;
    }

    .danit-map-wrap {
        margin-top: 96px;
        margin-bottom: 130px;
    }


    .marketing-map {
        width: 551px;
        height: 281px;
    }

    .danit-map {
        width: 675px;
        height: 425px;
    }
}

